body {
    background-color: grey;
    margin: 0;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    background-size: cover;
    background-position: center center;
    animation-name: AnimatePic;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes AnimatePic {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 100vw;
        height: 100vh;
    }
}